
@font-face {
    font-family: 'myFont';
    src: url("../fonts/Oxanium-VariableFont_wght.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'myFont';
}

body {
    --battle-color: blue;

    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title {
    color: var(--battle-color);
    background-color: white;
    border-radius: 16px;
    border: 5px var(--battle-color) solid;
    
    padding: 8px 40px;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 16px;
}

.container {
    flex: 1;
    display: grid;
    grid-template-columns: 190px repeat(2, 1fr) 190px ;
    grid-template-rows: 1fr 56px;
    justify-items: center;
    align-items: center;
    padding: 12px 24px;
    background-color: var(--battle-color);
}


.gameboard {
    --board-widht: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
}

.gameboard .player-name {
    margin-top: -40px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: white;
}

.board {
    margin-top: 28px;
    background-color: white;
    width: var(--board-widht);
    height: var(--board-widht);
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);   
}

.board, 
.square {
    border: 1px solid black;
}

.second.board .square:hover, 
.first .ship-square , 
.hit {
    background-color: rgb(160, 204, 243);
}

/* for missed square */
.square.miss,
.square.hit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miss {
    font-size: 1.5em;
}

.hit {
    font-size: 2em;
    color: red;
    font-weight: 700;
}

.ship-body .hit {
    font-size: 1.2em;
}


.board .column-numbers {
    position: absolute;
    transform: translateY(-100%);
    width: var(--board-widht);
    height: calc(var(--board-widht) / 14);
    display: flex;
}

.board .ligne-numbers {
    position: absolute;
    transform: translateX(-100%);
    height: var(--board-widht);
    width: calc(var(--board-widht) / 14);
    display: flex;
    flex-direction: column;
}

.ligne-numbers span,
.column-numbers span{
    color: white;
    font-weight: 500;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for ships port */

.ships-port {
    color: white;
    display: grid;
    height: 400px;
    margin: auto 24px;
}

.ships-port .ship {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: flex-start;

    /*for the arrow icon  */
    position: relative;
}

.ship-body {
    display: flex;
    background-color: rgb(180, 180, 180);
}


.ship-body .square {
    border: 0.5px solid black;      
    width: 24px;
    height: 24px;
}

.first.ships-port {
    margin-right: -15px;
}

/* before start the game */

.get-ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    color: white;
}

.get-ready .title {
    font-size: 3em;
    font-weight: 600;
}

.get-ready .info {
    font-size: 1.3em;
}

.get-ready button {
    padding: 8px 24px;
    border-radius: 16px;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background-color: #add8e6;
    color: blue;
}


.gameboard-btns {
    margin-bottom: -16px;
    display: flex;
    gap: 16px;
}

.gameboard-btns button{
    padding: 4px 12px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 12px;
    border: none;
}

button.unclickable {
    pointer-events: none;
    background-color: #0024f3;
    color: rgba(0, 0, 0, 0.5);
}

.hide {
    display: none;
}

/* for hovered square when choose coordinate for ship */
.square.hovered {
    background-color: rgb(180, 224, 255);
}

.screen {
    grid-row: 2;
    grid-column: 1/span 4 ;
    align-self: start;
    color: white;
    font-size: 1.4em;
    font-weight: 600;
}

.ships-port .arrow {
    position: absolute;
    top: 12px;
    transform: translateX(-120% );
}
