
@font-face {
    font-family: 'myFont';
    src: url("../fonts/Oxanium-VariableFont_wght.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'myFont';
}

body {
    --battle-color: blue;

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title {
    color: var(--battle-color);
    background-color: white;
    border-radius: 16px;
    border: 5px var(--battle-color) solid;
    
    padding: 8px 40px;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 16px;
}

.container {
    flex: 1;
    display: flex;
    padding: 24px
}

.ships-port {
    width: 170px;
}

.gameboard {
    --board-widht: 480px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.gameboard .player-name {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: white;
}

.board {
    margin-top: 16px;
    background-color: white;
    width: var(--board-widht);
    height: var(--board-widht);
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);   
}

.board, 
.square {
    border: 1px solid black;
}

/* for test */
.container {
    background-color: var(--battle-color);
}

.ships-port {
    border: 1px solid bisque;   
}

.gameboard {
    border: 1px solid blueviolet;   
}